.completed_todos {
    .completed_title {
        display: flex;
        align-items: center;
        column-gap: 15px;
        font-size: 14px;
        margin-bottom: 30px;
        color: #292827;
        margin-left: 11px;
        cursor: pointer;

        &.no_active {
            padding-bottom: 20px;
            border-bottom: 1px solid #e8e6e4;
        }

        .icon {
            color: #605e5c;
            margin-top: -4px;
            font-size: 16px;
        }

        .label {
            font-weight: 800;
        }

        .quantity_todos {
            color: #605e5c;
        }
    }

    .todos {
        transition: .2s;

        &.show {
            visibility: visible;
            opacity: 1;
            margin-top: 0;
        }

        &.hide {
            visibility: hidden;
            opacity: 0;
            margin-top: -50px;
        }
    }
}